/*===========
inview
===========*/
.fadeIn_up {
  opacity: 0;
  transform: translate(0, 30px);
  transition: 1.4s ease;
  transition-delay: 0.2s;
  &.is-show {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.fadeIn_right {
  opacity: 0;
  transform: translate(30px, 0);
  transition: 1.4s ease;
  transition-delay: 0.2s;
  &.is-show {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.fadeIn_blur {
  opacity: 0;
  transform: scale(0.98);
  transition: 1.4s ease;
  filter: blur(4px);
  &.is-show {
    transform: scale(1);
    opacity: 1;
    filter: blur(0px);
  }
}
