/*------------------------------------*\
    Variables
\*------------------------------------*/
/* Break Point */
$tab: 768px;
$lg: 1000px;
$pc: 1441px;
/* Color */
$color-white: #fff; // 白
$gray-lightest: #f4f4f4; // 最も明るいグレー
$gray-lighter: #e1e1e1; // やや明るいグレー
$gray-medium: #90949b; // 中間のグレー
$gray-darker: #6d7076; // やや暗いグレー
$color-black: #333; // 黒
$color-txt: #333; // テキストカラー
$accent-color: #deff24; // アクセントカラー
$accent-color-lighter: #f4ffb5; // アクセントカラー
/* Width */
$globalWidth: 70vw;
